* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Main Style */
html,
body {
  font-family: "Roboto", sans-serif;
  line-height: 1.6rem;
  color: black;
  margin-top: 50px;
}
.m-heading {
  font-size: 2rem;
  line-height: 2;
  color: black;
  font-family: Andalus;
  margin-left: 50px;
}
.py-1 {
  padding: 1.5rem 0;
}
.bg-light {
  background-color: #eaeaea;
}

.box-shadow {
  box-shadow: 0 0 2px plum;
}
/* Trainers */
#trainers .trainer-boxes {
  display: inline-flex;
  width: 1200px;
}
.primary-text {
  color: plum;
}
#h3 {
  color: #12222c;
  text-align: center;
}
hr {
  background-color: plum;
}

#trainers .trainer-boxes .trainer-box {
  flex: 1;
  background-color: #fff;
  margin: 1rem;
  border-radius: 5px;
}

#trainers .trainer-boxes .trainer-box img {
  width: 100%;
  height: 450px;
  display: block;
  border-radius: 5px;
  margin-bottom: 10px;
}
